* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font_principal: "Roboto Slab";
  --font_titulos: "MuseoModerno";
  --naranja: #ee7225b2;
  --gris_oscuro: #a0a0a0;
  --gris_claro: #cfc9cd;
}

@font-face {
  font-family: "Impact";
  src: url(../fonts/impact.ttf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Rouna Bold";
  src: url(../fonts/Rouna-Bold.otf);
  font-weight: normal;
  font-style: normal;
}

label {
  font-family: "Impact";
}

body {
  background: linear-gradient(to top, var(--naranja) 1%, white 65%);
}

h1 {
  font-family: var(--font_titulos);
}

h2 {
  font-family: "Rouna Bold";
}

p {
  font-family: "Impact";
}
.contenedor-header {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(rgba(126, 109, 109, 0.836), rgb(0 0 0 / 65%)),
    url(../img/desinfectar-casa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}

#parrafo-idioma {
  background-color: var(--naranja);
  padding: 10px 30px;
  margin: 0;
  color: white;
  font-family: "Rouna Bold";
  font-size: 20px;
  transition: 0.4s ease;
  border-radius: 4px;
  position: absolute;
  right: 50px;
}

#parrafo-idioma:hover {
  cursor: pointer;
  background-color: var(--gris_oscuro);
  color: black;
  padding: 14px 34px;
}

#logo-header {
  width: 400px;
}

a {
  text-decoration: none;
}

#header {
  padding: 50px 150px;
}

.nav-bar_contenedor {
  display: flex;
  align-items: flex-end;
}

.nav-bar {
  display: flex;
  padding: 0 150px;
  margin-left: 150px;
  gap: 70px;
}

.nav-bar_a {
  font-family: "Rouna Bold";
  background-color: var(--naranja);
  padding: 8px 10px;
  border-radius: 4px;
  transition: 0.4s ease;
}

.nav-bar_a:hover {
  color: black;
  background-color: var(--gris_oscuro);
  padding: 12px 14px;
}

.actual {
  background-color: var(--gris_oscuro);
}
.actual:hover {
  padding: 8px 10px;
  color: white;
}

a {
  color: white;
  font-family: var(--font_principal);
  font-size: 20px;
}

.div-articulo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: auto;
  gap: 40px;
  justify-items: center;
  text-align: center;
  align-items: center;
  margin: 150px;
  margin-top: 100px;
}

#foto-limpieza {
  width: 100%;
  border-radius: 50px;
  -webkit-box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
}

.contenido-parrafo {
  font-size: 30px;
}

.servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 200px;
  gap: 150px;
}

.servicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 60px;
}

.imagen-servicio {
  border-radius: 50%;
  -webkit-box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
}

.parrafo-servicio {
  font-size: 23px;
  height: 150px;
  width: 370px;
}

.formulario {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin-bottom: 50px;
}

.contenedor-formulario {
  background-color: var(--gris_claro);
  border-radius: 10px;
  border: solid black 2px;
  margin-top: 80px;
  gap: 20px;
  height: 650px;
  -webkit-box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
}

.div-input,
.formulario-titulo {
  margin: 40px;
}

.formulario-titulo {
  margin-top: 80px;
  font-family: var(--font_titulos);
}
.div-input {
  height: 40px;
}

#id-mensaje {
  margin-bottom: 20px;
}

.input-text {
  height: 30px;
}

.btn {
  background-color: var(--naranja);
  width: 150px;
  margin-top: 60px;
  height: 50px;
  border-radius: 9px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  transition: 0.3s ease;
  -webkit-box-shadow: 6px 7px 56px 0px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 6px 7px 56px 0px rgba(0, 0, 0, 0.87);
  box-shadow: 6px 7px 56px 0px rgba(0, 0, 0, 0.87);
}

.btn:hover {
  color: black;
  background-color: var(--gris_oscuro);
}

.contenedor-whatsapp_titulo {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 90px;
}

#mensaje-whatsapp {
  font-weight: normal;
}

.whatsapp {
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
  gap: 70px;
}

.div-imagen-whatsapp {
  display: flex;
  justify-content: center;
}

#qr {
  border-radius: 30px;
  -webkit-box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--gris_oscuro);
  height: 80px;
  font-family: "Rouna Bold";
}

#texto-footer {
  color: white;
  text-transform: uppercase;
}

@media (max-width: 1150px) {
  .contenedor-header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  #header {
    padding: 10px 150px;
  }
  .idioma {
    position: absolute;
    top: 0px;
    right: 10px;
  }
  #logo-header {
    width: 350px;
  }

  .nav-bar_contenedor {
    margin-bottom: 80px;
  }

  .nav-bar {
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .nav-bar_a {
    transition: 0.4 ease;
    padding: 10px 150px;
  }
  .nav-bar_a:hover {
    width: 400px;
  }
  .div-articulo {
    display: flex;
    flex-direction: column;
    margin: 60px;
  }

  .servicios {
    flex-direction: column;
  }
  .whatsapp {
    flex-direction: column;
  }

  .div-qr {
    display: flex;
    justify-content: center;
  }

  .formulario {
    margin-bottom: 100px;
  }
}

@media (max-width: 633px) {
  .contenedor-header {
    height: 500px;
    background-position: bottom;
  }

  .div-articulo {
    margin: 30px;
  }

  .contenedor-formulario {
    height: 740px;
  }
}
