* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font_principal: "Roboto Slab";
  --cafe: #9d7a5a;
  --color_tierra: #d3c1823a;
  --transparente: #ffffff00;
}

h1,
h2,
h3,
p {
  font-family: var(--font_principal);
}

.idioma {
  display: flex;
  background-color: var(--cafe);
  flex-direction: row-reverse;
}

#parrafo-idioma {
  background-color: var(--cafe);
  padding: 10px 35px;
  margin: 0;
  color: white;
  margin-right: 100px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease;
  border-radius: 10px;
}

#parrafo-idioma:hover {
  color: black;
  cursor: pointer;
  background-color: var(--color_tierra);
}

#titulo-principal {
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.contenedor-header {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(rgba(126, 109, 109, 0.836), rgb(0 0 0 / 65%)),
    url(../img/desinfectar-casa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

#header {
  padding: 50px 150px;
}

.nav-bar_contenedor {
  display: flex;
  align-items: flex-end;
}

.nav-bar {
  display: flex;
  padding: 0 150px;
  gap: 70px;
}

.nav-bar_a {
  background-color: #d6bd6193;
  padding: 8px 10px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.nav-bar_a:hover {
  background-color: var(--color_tierra);
}

.actual {
  background-color: var(--color_tierra);
}

a {
  color: white;
  font-family: var(--font_principal);
  font-size: 20px;
}

.div-articulo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: auto;
  gap: 40px;
  justify-items: center;
  text-align: center;
  align-items: center;
  margin: 140px;
  margin-top: 100px;
}

#foto-limpieza {
  width: 100%;
}

.contenido-parrafo {
  font-size: 30px;
}

@media (max-width: 1150px) {
  .contenedor-header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .nav-bar {
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  .nav-bar_a {
    padding: 10px 150px;
  }
}

@media (max-width: 633px) {
  .contenedor-header {
    height: 500px;
  }
  .idioma {
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  #parrafo-idioma {
    padding: 10px;
    margin: 0;
  }
}
