---
import { Image } from "astro:assets";
import picture from "../assets/img/persona-que-encarga-limpieza-oficinas.jpg";
const { content } = Astro.props;
---

<article id="contenedor_article">
  <div class="divisor_article">
    <p class="parrafo_article">{content.p1}</p>
    <br />
    <p class="parrafo_article">{content.p2}</p>
  </div>
  <Image
    loading="lazy"
    id="limpieza_picture"
    src={picture}
    alt="persona limpiando"
  />
</article>

<style>
  #contenedor_article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    gap: 40px;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin: 150px;
    margin-top: 100px;
  }

  #limpieza_picture {
    width: 100%;
    height: auto;
    border-radius: 50px;
    -webkit-box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 18px 32px 29px -8px rgba(0, 0, 0, 0.75);
  }

  .parrafo_article {
    font-family: "impact";
    font-size: 30px;
  }

  @media (width < 1150px) {
    #contenedor_article {
      display: flex;
      flex-direction: column;
      margin: 60px;
    }
  }
  @media (width < 633px) {
    #contenedor_article {
      margin: 30px;
    }
  }
</style>

<script></script>
